.add2{
    width: 30px;
    height: 30px;
    background-color: #03A9F3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 42.9px;
    left: 907px;
    border: none;
    cursor: pointer;
    z-index: 2;

  }

  #EmpRolesTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-bottom: 3px solid #f2efef;
}

#EmpRolesTable_filter>label{
    display: inline-flex !important;
    align-items: center;
    font-weight: 600;
        font-family: sans-serif;
        margin-bottom: 0px;
        float: left;
    }
    
    #EmpRolesTable_filter{
        float: left;
        background-color: #DAE1F3;
        width: 100%;
        padding: 12px;
        border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    }

    #EmpRolesTable_info{
        font-size: smaller;
        margin-left: 9px;
      }
      #EmpRolesTable_paginate{
        font-size: smaller;
        margin-top: 4px;
        margin-right: 9px;
      }
      #EmpRolesTable_wrapper{
        background-color: white;
        border-radius: 10px;
      }

      .dataTables_wrapper .dataTables_filter input[type="search"] {
        outline: none;
        font-size: small;
        font-family: sans-serif;
        width: 180px;
        background-color: #ffffff !important;
      }
      table.dataTable > tbody > tr > td {
        text-align: start;
        font-size: 12px;
        padding: 20px 10px !important;
        font-weight: 600 !important;
        border-bottom: 1px solid #d4d4d4;
    }
    
    table.dataTable > thead > tr > th:nth-of-type(1){
        width: 263.115px !important;
    }
    table.dataTable > thead > tr > th:nth-of-type(2){
        width: 674.167px !important;
    }
    table.dataTable > thead > tr > th:nth-of-type(3){
        width: 100.4479px !important;
    }