#ImportDataDragDrop{
    background-color: white;
    width:-webkit-fill-available;
    width: -moz-available;
    /* padding: 20px 25px 20px 25px; */
}
#ImportDataDragDrop  div:first-child div:first-child{
    font-size:17px ;
    font-weight:500 ;
}
#ImportDataDragDrop div:first-child div:last-child{
    font-size:13px ;
    font-weight:500 ;
    opacity: 50%;
}


#ImportDataSort_filter,#ImportDataSort_info,#ImportDataSort_paginate{
    display: none;
}
#ImportDataSort thead th{
    background-color: #ECF0F4 !important;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
    padding: 22px 15px !important;
    font-size: 14px !important;
    font-weight: 700 !important;

}

#ImportDataSort tbody td{
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important; */
    padding: 22px 15px !important;
    font-size: 14px;
    font-weight: 500;
}

#ImportDataSort{
    padding-left: 20px;
    padding-right: 20px;
}

#ImportDataSort thead th:nth-of-type(3){
    width: 420px !important;
}


th,td{
    text-align: start !important;
}
td{
    font-size: 13px;
    font-weight: 500;
    color: #4D4D4D;
    width: 200px;
}

td select{
    width: 305.33px;
    height: 50px;
    padding: 9px;
    color: #A8A8A8;
    border: 1px solid #A8A8A8;
    outline: none;
    border-radius: 6px;
}

.input-group-fname {
    position: relative;
    padding: 0px !important;
   }
   
   .input-group-fname>.input {
    width: 240px;
    height: 50px;
    border: solid 1px #9e9e9e;
    border-radius: 8px;
    background-color: white !important;
    font-size: 15px;
    color: #000000 !important;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   
   }

   .input-group-fname>.input:hover{
    border: solid 1.3px black;
    cursor: pointer;

   }
   .input-group-fname>.user-label {
    position: absolute;
    margin-bottom: none !important;
    top: 13px;
    font-size: 11px;
    font-weight: 500;
    color: #9e9e9e;
    pointer-events: none;
    transform: translateX(21px);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    opacity: 0;
   }

   .input-group-fname>.input:focus,.input-group-fname>.input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
    color: #000000;
   }

   .input-group-fname>.input:focus ~ .user-label,
.input-group-fname>.input:valid ~ .user-label{
    transform: translateY(-117%) scale(1);
    left: 35px;
    background-color: #ffffff;
    font-size: 12px;
    padding: 0 .2em;
    color: #2196f3;
    opacity: 1;
   }


   .addTodo{
    width: 45px;
    height: 43px;
    background-color: #39bf39;
    border: none;
    color: white
   }

   .delTodo{
    width: 45px;
    height: 43px;
    background-color: #f14747;
    border: none;
    color: white;
    display: none;
   }

   #ImportDataDragDrop div:nth-of-type(3){
    display: flex;
    gap: 8px;
   }

   .SaveUpData{
    font-size: 16px !important;
    width: 197px;
    height: 54px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #03a9f3 !important;
    color: white;
    font-weight: 500 !important;
    line-height: 24px !important;
    border: none !important;
   }

   .SaveUpData:hover{
    background-color: #37b8f4 !important;
    border: none;
   }

   .cancel{
    color: #03a9f3 !important;
    width: 94px !important;
    border: none !important;
    border-radius: 8px;
    font-size: 16px !important;
    background-color: white;
    line-height: 24px !important;
    font-weight: 500 !important;
    height: 54px;
  }
  .cancel:hover{
    box-shadow: 1px 1px 10px rgb(180, 180, 180) !important;
    border: none !important;
   }