.close1 {
    padding: 2rem 0rem !important;
    width: 125px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500 !important;
    border: none;
    background-color: transparent;
    gap: 7px;
  }

  .header h5{
    margin-bottom: 0px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
  }

  .header{
    padding: 0px !important;
  }


  #PayrollbatchList-Table_filter>label {
    display: inline-flex !important;
    align-items: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 0px;
}

#PayrollbatchList-Table_filter{
    float: left;
    background-color: #DAE1F3;
    width: 100%;
    padding: 12px;
   align-items: center !important;
}
.Addemployee,.Adjustments,.SavePre{
    background-color: #2DB9F8;
    color: white;
}

.delete{
    background-color: red;
}

#PayrollbatchList-Table tr td{
 padding: 8px 0px !important;
 width: 90px !important;
}
#PayrollbatchList-Table tr th{
    font-size:11px;
 padding: 8px 0px !important;
 width: 57px !important;
}

#PayrollbatchList-Table{
    font-size: 11px;
    padding: 12px;
    background-color: white;
    justify-content: space-evenly !important;
}
.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate {
    font-size: 12px;
}

.dataTables_wrapper .dataTables_info{
    padding-left: .755em
}

.dataTables_wrapper{
        background-color: white;
    }



    #processModal .modal-header{
        border-bottom: 0px !important;
        justify-content: center;
    }
    #processModal .modal-content{
        width: 75% !important;
    }
    #processModal .modal-body{
        font-size: 12px;
        font-weight: 500;
        color: #8c8c8c;
        padding-top: 7px;
    }
    #processModal .modal-footer{
        border-top: 0px !important;
        padding-top: 7px;
        justify-content: center !important;
    }

    .process{
        font-size: small !important;
        width: 80px;
        padding: 0.75rem;
        display: block;
        text-decoration: none;
        text-align: center;
        border-radius: 0.25rem;
        border: none !important;
        cursor: pointer;
        transition: 0.3s;
        background-color: #2DB9F8 !important;
      }
      .process:hover{ 
          box-shadow:0px 0px 3px  black !important;
          background-color: #03A9F3 !important;
      }

      .cancle{
        color: black !important;
        width: 77px !important;
        border: none !important;
        font-size: small !important;
      }
      .cancle:hover{
       box-shadow: 0px 0px 3px black !important;
      }
    