@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", sans-serif;
  }
.Payroll-header p{
    margin-bottom: 0px !important;
}

.Payroll-header p:nth-of-type(1){
    font-size: 17px;
    font-weight: 500;
    line-height: 25.5px;
    font-family: "Poppins", sans-serif;
}
.Payroll-header p:nth-of-type(2){
    font-size: 13px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    word-spacing: 2px;
    color: #212121;
    opacity: 50%;
    line-height: 19.5px;
}

#testRslt{
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #03A9F3;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  width: 150px;
  height: 54px;
}

#testRslt:hover{
    background-color: #2DB9F8;
}

.input-group-fname>.input:hover{
    border: solid 1.3px black;
    cursor: pointer;

   }

.input-group-fname>.input:focus ~ .user-label,
.input-group-fname>.input:valid ~ .user-label{
    transform: translateY(-117%) scale(1);
    left: 35px;
    background-color: #ffffff;
    font-size: 10px;
    padding: 0 .2em;
    color: #2196f3;
    opacity: 1;
   }

   .input-group-fname>.input:focus,.input-group-fname>.input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
   }


   .input-group-fname>.user-label {
    position: absolute;
    margin-bottom: none !important;
    top: 11px;
    font-size: 11px;
    font-weight: 500;
    color: #9e9e9e;
    pointer-events: none;
    transform: translateX(21px);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    opacity: 0;
   }

      
   .input-group-fname>.input {
    /* width: 945px !important; */
    width: -webkit-fill-available;
    width: -moz-available;

    height: 50px;
    border-radius: 11px;
    background-color: white !important;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    font-size: 15px;
   }

   .cancle{
    color: #03A9F3 !important;
    width: 150px !important;
    border: none !important;
    height: 50px;
    font-size: 16px !important;
    font-weight: 500 !important;
    text-align: center !important;
  }
  .cancle a{
    text-decoration: none !important;
    color: #03A9F3 !important;
  }
  .cancle:hover{
   box-shadow: 0px 0px 3px black !important;
   border: none !important;
   text-decoration: none;
   color: #03A9F3 !important;
  }

  .save{
    font-size: 16px !important;
    width: 150px;
    text-decoration: none;
    border: none !important;
    background-color: #2DB9F8 !important;
    height: 50px;
    font-weight: 500 !important;
  }
  .save:hover{ 
      box-shadow:0px 0px 3px  black !important;
      background-color: #03A9F3 !important;
  }

  
  #testRslt-table_filter{
    float: left;
    background-color: #DAE1F3;
    width: 100%;
    padding: 18px 21px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    align-items: baseline;
    gap: 3rem;
  }
  
  #testRslt-table_filter>label {
    display: inline-flex !important;
    align-items: center;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px !important;
  }
  #testRslt1 .modal-content .modal-header {
    display: none;
  }
   
  #testRslt-table_filter .btn-close{
    position: absolute;
    left: 852px;
    top: 32px;
    font-size: 17px;
    opacity: 1 !important;
    line-height: 0px;
    text-shadow: none;
    border: none;
    background-color: transparent;
  }
  
  .modal{
    background: #0000004a !important;
  }
  
  #testRslt-table_wrapper #testRslt-table{
    font-size: 12px;
  }
  
  #testRslt1 .modal-body{
    color: #000000;
    padding: 0px !important;
    scrollbar-width: none ;
  }
  #testRslt1 .modal-content{
    box-shadow: 22px 6px 84px black;
  }
  #testRslt-table_info,#testRslt-table_paginate{
    font-size: 11px;
    padding: 10px;
  }

  #testRslt1 .close1 {
    padding: 0rem 0rem !important;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400 !important;
    border: none;
    background-color: transparent;
    gap: 7px;
    font-size: 20px !important;
  }

  .modal-header .btn-close {
    border: none;
    background-color: transparent;
    font-size: 20px;
    
}

.modal-header{
    justify-content: flex-end !important;
    border-bottom: none !important;
}

#savePayBatchForm1 .modal-body{
    justify-content: center !important;
    align-items: center !important;
    padding-top: 0px !important;
    gap: 8px;
}
#savePayBatchForm1 .modal-content{
  width: 514px !important;
  height: 255px;
}

#savePayBatchForm1 .modal-footer{
    justify-content: center !important;
    border-top: none !important;
}
#savePayBatchForm1 .modal-body div:first-child{
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
#savePayBatchForm1 .modal-body div:last-child{
  font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #212121;
    text-align: center;
    opacity: 50%;
}
.ok{
  font-size: 16px !important;
    width: 150px;
    text-decoration: none;
    border: none !important;
    background-color: #2DB9F8 !important;
    height: 50px;
    font-weight: 500 !important;
  }
  .ok:hover{ 
      box-shadow:0px 0px 3px  black !important;
      background-color: #03A9F3 !important;
  }


