@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: "Poppins", sans-serif;
  }

.back-icon:hover{
cursor: pointer;
}
.back-icon{
  position: relative;
  left: -10px;
}



.chart-heading {
     font-family: "Poppins", sans-serif;
    color: #023047;
    font-weight: 500;
    font-size: 15px;
    text-align: start;
    width: 264px ;
    margin-top: 16px;
  }
  
  
  .attendance-container {
    width: 100px;
    margin-left: 2px;
  }
  .earned-container {
    width: 100px;
    margin-left: 2px;
  }
  .weekdays-container {
    width: 225px;
    display: contents;
    margin-left: 2px;
  }
  
  .graph{
  box-shadow: 0 0px 7px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .attandance-graph{
     font-family: "Poppins", sans-serif;
  width: 274px;
    padding: 4px 0px;
    color: #023047;
    transition: all 400ms ease;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 20px;
  }
  .earned-graph,.absentheat-graph{
    width: 274px;
 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    
  }
  .chart-heading {
    
    padding-left: 20px;
  }
  .programming-stats {
     font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 4px 0px;
    color: #023047;
    transition: all 400ms ease;
    flex-wrap: wrap;
  }
  .programming-stats1 {
     font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 17px;
    width: fit-content;
    padding: 4px 0px;
    color: #023047;
    margin-left: 20px;
    transition: all 400ms ease;
    flex-wrap: wrap;
  }
  .programming-stats2 {
     font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    gap: 17px;
    width: fit-content;
    padding: 37px 0px;
    color: #023047;
    margin-left: 37px;
    transition: all 400ms ease;
  }
  .programming-stats3 {
     font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    width: fit-content;
    padding: 10px 0px;
    color: #023047;
    padding-left: 20px;
    transition: all 400ms ease;
  }
  .attendance-chart{
    width: 102px !important;
    height: 102px !important;
  }
  
  /* .attandance-graph:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  } */
  
  .programming-stats .details ul {
    list-style: none;
    padding: 0;
  }
  
  .programming-stats .details ul li {
    font-size: 13px;
    margin: 4px 0;
   font-weight: 600;
    font-family: "Poppins", sans-serif;
   justify-content: start;
    align-items: center;
    gap: 3px;
    margin-bottom: 12px;
  }
  .programming-stats1 .details1 ul {
    list-style: none;
    padding: 0;
  }
  
  .programming-stats1 .details1 ul li {
    font-size: 13px;
    margin: 4px 0;
   font-weight: 600;
    font-family: "Poppins", sans-serif;
   justify-content: start;
    align-items: center;
    gap: 3px;
    margin-bottom: 12px;
  }


  .line{
    height: 117px;
    width: 2px;
    position: relative;
    background-color: #E0E0E0;
    top: 21px;
    left: 7px;
  }

  .weekdays tr td{
    width: 14%;
    height: 50px;
    background-color: green;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
  }
  
.leaveTable-card,.leaveTable-cardbody{
   background-color: white !important;
}
  


#input-valuses-accordOne .btn-link,#input-valuses-accordTwo .btn-link,#input-valuses-accordThree .btn-link{
  color: black !important;
    font-size: 19px !important;
    font-weight: 500 !important;
}

#input-valuses-accordOne .btn:focus,#input-valuses-accordTwo .btn:focus,#input-valuses-accordThree .btn:focus{
box-shadow: none !important;
}
.btn-link:hover,.btn-link:focus{
  text-decoration: none !important;
}
#input-valuses-accordOne:hover,#input-valuses-accordTwo:hover,#input-valuses-accordThree:hover{
  background-color: #ECF0F4  ; 
}


#input-valuses-accordOne,#input-valuses-accordTwo,#input-valuses-accordThree{
  padding:0px !important;
}
.text-left{
  padding: 21px 15px !important;
}

/* .text-left::before{
  content: "\f054";
    font-family: "FontAwesome";
    float: right;
    font-size: 13.33px;
    transition: transform 0.2s ease-in-out;
    margin-left: 45px;
} */

/* #accordion #input-valuses-accordOne button[aria-expanded="true"]::before,
#accordion #input-valuses-accordTwo button[aria-expanded="true"]::before,
#accordion #input-valuses-accordThree button[aria-expanded="true"]::before
{
  transform: rotate(225deg);
} */
.accordion .card-header button::before {
  content: "\f054"; /* FontAwesome right arrow */
  font-family: "Font Awesome 5 Free"; /* Ensure this matches your FontAwesome version */
  font-weight: 900; /* Ensure correct weight for solid icon */
  float: right;
  font-size: 13.33px;
  transition: transform 0.2s ease-in-out;
  margin-left: 45px;
}

.accordion .card-header button[aria-expanded="true"]::before {
  transform: rotate(90deg); /* Rotate the icon when expanded */
}







.scheduler_default_rowheader {
  height: 50px !important;
}
.scheduler_default_corner div:nth-of-type(2) {
  position: absolute;
  padding: 2px;
  top: 29px !important;
  left: 0px !important;
  background-color: transparent !important;
  font-size: 16px !important;
   font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black !important;
  letter-spacing: 4px;
  border-top: 1px solid #b6b6b6;
  width: 150px;
  text-align: center;
}
.accordion>.card {
  overflow: visible !important;
}

.scheduler_default_header_icon {
  left: 143px !important;
  top: 229px !important;
  display: block !important;
}
.scheduler_default_header_icon,
.scheduler_default_header_icon_hide {
  display: none !important;
}

.scheduler_default_main {
  width: 967px !important;
  height: 236px !important;
  overflow: scroll;
  scrollbar-width: none;
}
.scheduler_default_scrollable {
  scrollbar-width: none !important;
}
.scheduler_default_corner {
  display: table;
}





.leaveTable-cardbody{
  padding: 0px !important;
  overflow: scroll;
  scrollbar-width: none;
}

.mon{
      width: 50px;
    height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    padding: 3px;
    font-size: 13px;
}

.tue,.wed,.thu,.fri,.sat,.sun{
  width: 50px;
  height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  padding: 3px;
  font-size: 13px; 
}

